.layout-transparent:not(.is-compact) {
    background: url('../assets/header.jpg') center / cover;
}
.layout-transparent .mdl-layout__header, .layout-transparent .mdl-layout__drawer-button {
    /* This background is dark, so we set text to white. Use 87% black instead if your background is light. */
    color: white;
}

.layout-transparent:not(.is-compact) > .mdl-layout__header-row:first-of-type{
    background: rgba(0, 0, 0, 0.30)
}

.layout-transparent > .mdl-layout__header-row:not(:first-of-type){
    height: 90.5vh;
}